body {
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
          135deg,
          rgb(253, 18, 89) 0%,
          rgb(174, 33, 111) 69%,
          rgb(224, 0, 231) 89%
  ) !important;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: rgb(18, 134, 134);
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

@keyframes color{
  0%{
    background-color: #00d0ff;
  }
  25%{
    background-color: #e70dbf;
  }
  50%{
    background-color: #ec780b;
  }
  75%{
    background-color: #30d62d;
  }
  100%{
    background-color: #00d0ff;
  }
}

/*end home page styles*/

.questions{
  display: flex;
  height: 100vh;
  align-items: flex-start ;
  background-color: rgb(18, 134, 134);
  animation-name: color2;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
}

@keyframes color2 {
  0%{
    background-color: rgb(20, 0, 110);
  }
  25%{
    background-color: rgb(28, 3, 138);
  }
  50%{
    background-color: rgb(44, 22, 141);
  }
  75%{
    background-color: rgb(62, 1, 131);
  }
  100%{
    background-color: rgb(20, 0, 110);
  }
}

.questions-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.player-name{
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
  font-weight: 700;
}

.questions-grid{
  display: grid;
  width: 95vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5em;
  padding: 1em;
  grid-template-rows: 1fr 1fr;
}

.question{
  padding: 16px;
}

.q1{
  background-color: #e91b1b;
  text-align: center;
  border-radius: 4px;
}

.q2{
  background-color: #1b48e9;
  text-align: center;
  border-radius: 4px;
}


.q3{
  background-color: #e9c71b;
  text-align: center;
  border-radius: 4px;
}

.q4{
  background-color: #098626;
  text-align: center;
  border-radius: 4px;
}

.q1:hover,
.q2:hover,
.q3:hover,
.q4:hover {
  background-color: #2db80a;
  cursor: pointer;
  
}
.shape-container{
  width: 75px;
}

.shape-question{
  width: 80%;
  float: left;
  padding-top: 24%;
}

.answer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result span {
  font-size: 100px;
  margin: 40px 0;
}

.streak {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.streak span {
  font-size: 30px;
}

#finished-span {
  font-size: 100px;
}